* text=auto
*.py text eol=lf
*.sh text eol=lf
*.sbatch text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.tsv text eol=lf whitespace=-blank-at-eol
*.csv text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.cff text eol=lf
*.ipynb text eol=lf
*.txt text eol=lf
