--extra-index-url https://download.pytorch.org/whl/cu121
numpy
pandas
pyarrow
fastparquet
matplotlib
seaborn
scikit-learn
jupyterlab
notebook
ipykernel
ipywidgets
tqdm
tokenizers>=0.20,<1
torch==2.4.1

scipy
joblib
tidytcells>=2,<3
rapidfuzz>=3,<4
biopython
